$c-range-circle-diameter = 16px
$c-range-line-padding = 11px
$c-range-line-height = 3px
$c-range-click-vertical-line-padding = 7px
$c-range-scale-padding = 5px
$c-range-vertical-padding = 25px - $c-range-click-vertical-line-padding
