@import 'common/styl/variables.styl'

.app-credit-calc
  display block
  max-width 414px
  margin auto

  &__header
    margin $indent-2 0 0
    color $color-orange
    text-align center
    font-size 1.2em

  &__version
    margin 0 0 $indent-2
    color $color-grey-darker
    text-align center
    font-size 0.9em
