@import '../../styl/variables.styl'

.amount
  white-space nowrap
  display inline

  &__decimals
    font-size 0.7em
    line-height 0.8

  &__sign
    font-weight normal
    font-family Roboto, $defaultFontFamily
